$colorSelectSite: #f16d7f;
$colorBackDark: #222;
$colorBackLight: #f8f3f4;
$colorBackGray: #f8f8f8;
$widthSite: 1140px;
$colorText: #000;
$colorTextGray: #5d5d5d;
$colorTextDark: #636363;
$colorTextBottom: #9f9f9f;
$colorTextTop: #ffffff;
$colorTextFooter: #fbfbfb;
$colorTextFooterDark: #222224;
$gapGrid: 30px;
$thrirdSite: ($widthSite - $gapGrid * 2) / 3;
