$colorSelectSite: #f16d7f;
$colorBackDark: #222;
$colorBackLight: #f8f3f4;
$colorBackGray: #f8f8f8;
$widthSite: 1140px;
$colorText: #000;
$colorTextGray: #5d5d5d;
$gapGrid: 30px;
$thrirdSite: ($widthSite - $gapGrid * 2) / 3;
