* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "latoblack";
}

.header {
  display: flex;
  flex-wrap: wrap;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header_right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.top-head {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #f8f3f4;
}
.top-head_heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f16d7f;
}

.filter-sort {
  height: 132px;
  position: relative;
  padding-top: 39px;
}

.filter {
  position: absolute;
  padding: 13px 16px 16px;
  width: 360px;
  box-sizing: border-box;
}
.filter[open] .filter_heading {
  color: #f16d7f;
}
.filter[open] {
  fill: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] path {
  fill: #f16d7f;
}
.filter_summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter_heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter_item {
  margin-top: 16px;
}
.filter_heading {
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter_link {
  color: colorTextDark;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top_content {
  background: #f8f3f4;
  margin-bottom: 65px;
}

.img_top {
  display: block;
  margin: auto;
}

.top-write1 {
  background: #f16d7f;
  height: 92px;
  width: 12px;
}

.top-write2 {
  padding-left: 16px;
  height: 93px;
  width: 400px;
}

.item {
  display: flex;
  align-items: center;
}

.top-item1 {
  width: 50%;
  height: 764px;
}

.top-item2 {
  padding-left: 100px;
  width: 50%;
  height: 764px;
}

.item-flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card_top__text {
  padding-top: 105px;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.card_top__text_pink {
  padding-top: 130px;
  letter-spacing: 0.05em;
  color: #f16d7f;
  position: absolute;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.card_bot__text {
  padding-top: 65px;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.project__img {
  width: 100%;
}

.card_bot__text_pink {
  padding-top: 91px;
  letter-spacing: 0.05em;
  color: #f16d7f;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card_bot {
  display: flex;
  justify-content: center;
}

.card_img {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs__li:last-child .breadcrumbs_link {
  font-weight: 700;
  color: #f16d7f;
}
.breadcrumbs_link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card_bot__text_pink {
  padding-top: 91px;
  letter-spacing: 0.05em;
  color: #f16d7f;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card_bot {
  display: flex;
  justify-content: center;
}

.card_img {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.card-bottom {
  position: relative;
  margin-top: 30px;
  margin-bottom: 96px;
}

.text_bottom {
  margin-bottom: 48px;
  text-align: center;
}
.text_bottom_top {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_bottom_bot {
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 95px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding-bottom: 30px;
}
.product_content {
  background-color: #f8f8f8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product_img {
  width: 100%;
}
.product_name {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}
.product_text {
  font-family: "latolight";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #5d5d5d;
}
.product_price {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f16d7f;
}
.product_all {
  margin: 0 auto;
  height: 48px;
  width: 212px;
  border: 1px #f16d7f solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_all_text {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 124px;
  padding-bottom: 124px;
  background-color: #222;
}
.info_one {
  width: 360px;
  text-align: center;
}
.info_img {
  padding-bottom: 28px;
}
.info_top_text {
  align-content: center;
  text-align: center;
  color: #fbfbfb;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 16px;
}
.info_text {
  color: #fbfbfb;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 448px;
  background: url(img/backfooter.jpg);
}
.footer_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  text-align: center;
  flex-direction: column;
  gap: 30px;
}
.footer_left_text {
  width: 360px;
  padding-bottom: 30px;
}
.footer_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  text-align: center;
  flex-direction: column;
}
.footer_right_text_1 {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.footer_right_text_2 {
  color: #222224;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  padding-bottom: 32px;
}
.footer_right_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer_right_button_gray {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 100px 0px 0px 100px;
  width: 300px;
  height: 49px;
  background-color: #f8f3f4;
  padding-left: 20px;
}
.footer_right_button_pink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0px 100px 100px 0px;
  width: 100px;
  height: 49px;
  background-color: #f16d7f;
  padding-left: 20px;
}
@media (max-width: 1024px) {
  .footer .center {
    padding-left: calc(50% - 367px);
    padding-right: calc(50% - 367px);
  }
  .footer .top_heading {
    font-size: 44px;
  }
  .footer .img_top {
    width: 386px;
    height: 368px;
  }
  .footer .top_text {
    font-size: 24px;
  }
  .footer .top-item1 {
    height: 368px;
  }
  .footer .top-item2 {
    height: 368px;
    padding-left: 39px;
  }
  .footer .header_box {
    padding: 16px;
  }
  .footer .card_top {
    height: 168px;
    row-gap: 30px;
  }
  .footer .card_top__text {
    padding-top: 59px;
  }
  .footer .card_top__text_pink {
    padding-top: 85px;
  }
  .footer .card_bot__text {
    padding-top: 33px;
  }
  .footer .card_bot__text_pink {
    padding-top: 59px;
  }
  .footer .card-bottom {
    margin-bottom: 110px;
  }
  .footer .one_product {
    width: 47%;
    margin-bottom: 16px;
  }
  .footer .text_all_product {
    padding-left: 39px;
    padding-right: 39px;
  }
  .footer .all_product {
    margin-top: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer .center {
    padding-left: calc(50% - 187px);
    padding-right: calc(50% - 187px);
  }
  .footer .header_menu {
    padding-right: 41px;
  }
  .footer .top_heading {
    font-size: 44px;
  }
  .footer .top_text {
    font-size: 24px;
  }
  .footer .top-item1 {
    width: 0%;
  }
  .footer .top-item2 {
    width: 100%;
    padding-left: 0px;
    height: 363px;
    padding-left: 56px;
  }
  .footer .img_top {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */